ul.anime-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 30px;
}

ul.anime-list li {
  display: flex;
  flex-direction: column;
}

ul.anime-list li header {
  widows: 100%;
  height: 120px;
  background-size: cover;
  border-radius: 4px;
}

ul.anime-list li strong {
  margin-top: 10px;
  font-size: 24;
  color:#444;
}

ul.anime-list li span {
font-size: 15px;
color: #999;
}